.mainContainer {
  margin-top: 8rem;
  width: 60rem;
}
.eventsBox {
  height: 45rem;
  background-color: #f0a75d;
  border: none;
  overflow-y: auto;
  border-radius: 20px;
}
.paragraph {
  color: white;
  text-align: center;
  margin-top: 6rem;
}
.button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.buttonStyle {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #fca311;
  border: none;
  border-radius: 10px;
  color: #14213d;
}

.buttonStyle:hover,
.buttonStyle:active {
  cursor: pointer;
  opacity: 0.75;
}
