.mainBox{
    background-color: #414a4c;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    margin-top: 2rem;
    height: 2.5rem;
    width: 20rem;
    border-radius: 10px;
}

h1{
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: white;
}

.actions {
    text-align: center;
  }
  
  .actions button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: #fca311;
    border: none;
    border-radius: 10px;
    color: #14213d;
  }
  
  .actions button:hover {
    cursor: pointer;
    opacity: 0.75;
  }